header {
  display: flex;
  color: white !important;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  height: 50px;
}

@media all and (max-width: 325px){
  .ant-layout-header{
    padding: 0 15px;
  }
}