.ts-container {
  padding: 5%;
  background: linear-gradient(#001529, #00152950);
  height: 100vh;
}

.search-card {
  border-radius: 15px;
  background: rgba(241, 241, 241, 0.322);
  border: none;
}

.search-card-inside {
    border-radius: 15px;
}

.card-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ant-input {
  width: 20vw;
  height: 8vh;
}

.ant-picker-input {
  width: 20vw;
  height: 6.4vh;
}

.ant-form-item-control-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-button {
  margin-top: 45px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
}
