.ts-container {
  padding: 5%;
  background: linear-gradient(#001529, #00152950);
  height: 100vh;
}

.search-card {
  border-radius: 15px;
  background: rgba(241, 241, 241, 0.322);
  border: none;
}

.search-card-wrapper .search-card-inside {
  border-radius: 15px;
}

.search-card-wrapper .card-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-card-wrapper .city-input-search {
  width: 20vw;
  height: 8vh;
}

.search-card-wrapper .journey_date {
  width: 20vw;
  height: 8vh;
}

.search-card-wrapper .ant-form-item-control-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-card-wrapper .login-form-button {
  margin-top: 45px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
}

@media all and (max-width: 632px) {
  .search-card-wrapper .card-input-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-card-wrapper .journey_date, .search-card-wrapper .city-input-search{
    width: 100%;
    height: 40px;
  }
}
